<div class="about-blurb line-border">

<p>My trading strategy started off as pretty standard <%= link_to "market making", 'http://www.investopedia.com/terms/m/marketmaker.asp' %>, and remains so for the most part. I do have some heuristics that help me manage the risk of being run over.</p>

<p>All of my trades add liquidity, and all profit comes purely from providing liquidity at market rates.</p>

<p>I use custom software to do automated analysis of market data and track positions and profit. The software is written in a combination of Java and Ruby- Java and JavaFX power the graphical program I use to track positions and profit, and Ruby powers the server processes that gather, analyze, and store market data. I use PostgreSQL for my database. This website is written in Ruby with Ruby on Rails.</p>

<p>RSN: Tulir</p>

</div>
