#!/usr/bin/env xdg-open
[Desktop Entry]
Name=RS Market Maker
Comment=Make sick bank on RuneScape.
Exec=rsmm-desktop
Icon=/usr/share/rsmm-desktop/rsmm.png
Terminal=false
Type=Application
Categories=Game;
