.process-item-container {
  display: flex;
  max-width: 910px;
  width: 100%;
  flex-direction: horizontal;
  justify-content: center;
}

.process-item {
  margin: 1em;
}

.process-item-title {
  color: white;
  text-align: center;
  margin: 0 0 0 0;
}

.process-index-table {
  margin-top: 1em;
}

.process-index-table th {
  color: white;
}
