<div class="line-border rstype-icons">
  <%= link_to image_tag("osrs_icon.png", class: "rstype-icon"), "process/osrs" %>
  <%= link_to image_tag("rs3_icon.png", class: "rstype-icon"), "process/rs3" %>
</div>
